
// normal keyframes. shit that happens on non-svg elements
    @keyframes iconEnter {
        0% {
            left: 100%;
        }
        100% {
            left: 0%;
        }
    }
    @keyframes iconExit {
        0% {
            left: 0%;
        }
        100% {
            left: -200%;
        }
    }
    @keyframes numberEnter {
        0% {
            transform:  translateY(8vw);
        }
        100% {
            transform: translateY(0);
        }
    }


    @keyframes wheelsMove {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        30% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-2px) rotate(.5deg); //front wheels
        }
        60% {
            transform: translateY(0px) rotate(0deg);
        }
        70% {
            transform: translateY(-2px) rotate(-.5deg); //back wheels
        }
        90% {
            transform: translateY(0px) rotate(0deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }


    @keyframes bodyMove {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        30% {
            transform: translate(0px, 2px) rotate(0deg);
        }
        50% {
            transform: translate(0px, 0px) rotate(1deg); //front
        }
        70% {
            transform: translate(0px, -1px) rotate(0deg);
        }
        90% {
            transform: translate(0px, 0px) rotate(-1deg); //rear
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
        }
    }
    
    @keyframes poleMove {
        0% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(0deg);
        }
        70% {
            transform: rotate(1deg);
        }
        90% {
            transform: rotate(-2deg); //boop
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes glowAnimate {
        0% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -30;
            stroke-width:0;
        }
        25% {
            stroke-dasharray:100,50,0,100;
            stroke-dashoffset: -180;
            stroke-width:8;
        }
        50% {
            stroke-dasharray:50,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:1;
        }
        75% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:0;
        }
        100% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:0;
        }
    }



    @keyframes glowAnimateReady {
        0% {
            stroke-dasharray:25,100,5,25;
            stroke-dashoffset: 300;
            stroke-width:0;
        }
        50% {
            stroke-dasharray:75,150,5,50;
            stroke-dashoffset: 150;
            stroke-width:9;
        }
        100% {
            stroke-dasharray:25,100,5,25;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
    }



    @keyframes stripesAnimate {
        0% {
            stroke-dasharray:0,100,0,100;
            stroke-dashoffset: -300;
            stroke-width:1;
        }
        25% {
            stroke-dasharray:100,80,10,50;
            stroke-dashoffset: -150;
            stroke-width:1;
        }
        50% {
            stroke-dasharray:100,20,20,50;
            stroke-dashoffset: 0;
            stroke-width:3;
        }
        75% {
            stroke-dasharray:100,80,40,50;
            stroke-dashoffset: 150;
            stroke-width:1;
        }
        100% {
            stroke-dasharray:0,100,0,100;
            stroke-dashoffset: 300;
            stroke-width:1;
        }
    }

#loader {
    
    position: fixed;
    z-index:99999;
    top:0;
    bottom:0;
    left:auto;
    right:0;
    margin:0;
    width: 100%;
    height:100%;
    min-width: 320px;
    min-height: 320px;
    background: $loader-color-bg;
    color: $loader-color-base;
    transition: .5s #{$loader-bezier} right;

    & *,&:before,&:after {
        animation-timing-function: linear;
        transition-timing-function: #{$loader-bezier};
        transition-property: all;
        animation-iteration-count: infinite;
        // animation-fill-mode: both;
    }

    &:before,&:after {

        content:"";
        position: absolute;
    }
        
    // &:before { //the blaze thing tha wheels doo
    //     top: 0;
    //     bottom: 0;
    //     left: auto;
    //     right: 0;
    //     width: 50%;
    //     background: red;
    //     height: 2px;
    //     margin: auto;
    //     margin-top: 1vw
    // }
    

    &:after { // circle edge end of animation
        top: 0;
        bottom: 0;
        background: $loader-color-bg;
        left:100%;
        width: 50vh;
        border-radius: 0 50vh 50vh 0;
    }

    #{$loader-docready-class} & {
        right: calc(150% + 50vh);
        // opacity: 0;
        transition-delay: $loader-exit-duration * .875;
        transition-duration: $loader-exit-duration * .125;
    }

    
    //styles

        .icon,
        &-icon {

            #{$loader-docready-class} & { //  boy bye
                animation-name: iconExit;  //happens on both svg and svg wrapper to create dimension
                animation-timing-function: #{$loader-bezier-reverse};
                animation-duration:  $loader-exit-duration * .875;
                animation-delay: $loader-exit-duration * .375;
                animation-iteration-count: 1;
            }
        }

        .icon { // car svg container
            transition: .125s linear all;
            font-size: $loader-icon-size;
            height: 1em;
            width: 1em;
            max-width: calc(100% - 30px);
            max-height: calc(100% - 30px);
            position: absolute;
            top:0;
            bottom:0;
            right:0;
            left:100%;
            margin: auto;
            overflow: hidden; // alt-circle-clip


            //on Enter to the left, to the left alt-circle-clip
                animation-name: iconEnter;
                animation-duration: $loader-enter-duration;
                animation-fill-mode: both;
                animation-timing-function: #{$loader-bezier};
                animation-iteration-count: 1;


            // on exit alt-circle-halo
            // #{$loader-docready-class} & { //  boy bye
            //     animation-name: iconExit;
            //     animation-timing-function: #{$loader-bezier-reverse};
            //     animation-duration:  $loader-exit-duration * .875;
            //     animation-delay: $loader-exit-duration * .375;
            //     animation-iteration-count: 1;
            // }

            &:before { //circle glow 
                content:"";
                display: block;
                position: absolute;
                margin: auto;
                background: rgba($loader-color-accent,.85);
                box-shadow: inset  0 0 0 0 rgba($loader-color-accent,.2);
                border: 0 solid rgba($loader-color-bg,.5);
                border-radius: 50%;

                //alt-circle-halo
                // left:-50%;
                // right:-40%;
                // top:-25%;
                // bottom:-25%;
                // width: 125%;
                // height: 125%;
                // padding-bottom:125%;

                // alt-circle-clip
                top:0;
                bottom:0;
                left:0;
                width: .05em;
                height: 75%;
                opacity: 0;
                transform: scale(.1);
                transform-origin: left center;



               #{$loader-docready-class} & { // come out before nyoom
                    
                    transition-timing-function:  #{$loader-bezier-skrt};
                    transition-duration: $loader-exit-duration * .25;
                    // box-shadow: inset  0 0 0 .025em rgba($loader-color-bg,.2);
                    border-width: .025em .0125em;
                    opacity: 1;
                    transform: scale(1);
                }
            }

            svg { // for animation readiness
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        }

        
        &-icon { //svg itself


            * {
                fill:none;
                stroke:$loader-color-base;
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-miterlimit:10;
            }

            // svg styles
            .stroke-filled{
                fill: $loader-color-bg;
            }

            .accent {
                stroke:$loader-color-accent;
            }

            .stroke-bold{
                stroke-width:7;
            }
            .stroke-normal{
                stroke-width:5;
            }
            .stroke-light{
                stroke-width:4;
            }
            .stroke-lighter{
                stroke-width:3;
            }

            // .stroke-dashed-glow {
            //     stroke-dasharray:50,10,5,100;
            // }

            //CAR

                .body,.wheels,.pole { //make loop same so that the suspension syncs with the lubak the wheel makes sagi on
                    animation-duration: $loader-loop-duration;

                    #{$loader-docready-class} & {
                        animation-duration: $loader-loop-duration * .5;
                    }
                }

                
                .body {
                    animation-name: bodyMove;
                    transform-origin: 35% 65%;
                }


                .wheel { // wheelio

                    &s {
                        animation-name: wheelsMove;
                        transform-origin: 34% 50%;
                    }



                    #{$loader-docready-class} & { //wheels will skew like in the cartoons when it go nyoom
                        transition-duration: $loader-exit-duration * .125;
                        transition-delay: $loader-exit-duration * .375;
                        transform: skewX(10deg);
                        transform-origin: 50% 50%;
                    }
                }

                .pole {
                    transform-origin: 51% 37%;
                    animation-name: poleMove;
                }

            //FX

                .stripe,.glow {
                    // animation-fill-mode: both; //dont anymore it looks yucky
                    stroke-width:0;
                }

                .stripe {

                    // animation-fill-mode: both;
                    animation-name: stripesAnimate;
                    animation-duration: $loader-loop-duration * 1;
                    // animation-delay: 0s;

                    // initial
                    stroke-dasharray:0,100,0,100;
                    // stroke-dashoffset: -150;
                    // stroke-width:0;

                    &:nth-child(3n) {
                        animation-delay: $loader-loop-duration * .5;
                    }

                    &:nth-child(3n + 1) {
                        animation-delay: $loader-loop-duration * .875;
                    }
                    
                }

                .glow {
                    animation-name: glowAnimate;
                    animation-iteration-count: infinite;
                    animation-duration: $loader-loop-duration * .5;
                    animation-delay: $loader-enter-duration;

                    //initial frame of animation
                    // stroke-dasharray:0,50,0,100; 
                    // stroke-dashoffset: 150;
                    // stroke-width:0;

                    &:nth-child(4n + 1) {
                        animation-delay: $loader-enter-duration + ($loader-loop-duration * .3125);
                    }
                    
                    &:nth-child(4n + 2) {
                        animation-delay: $loader-enter-duration + ($loader-loop-duration * .75);
                    }
                    
                    &:nth-child(4n + 3) {
                        animation-delay: $loader-enter-duration + ($loader-loop-duration *  1.125);
                    }

                    #{$loader-docready-class} & {
                        animation-delay: 0s;
                        animation-duration:   $loader-loop-duration * .25;
                        animation-name: glowAnimateReady;
                        // stroke-dasharray:50,100,5,150;
                        // stroke-width:0;



                        &:nth-child(4n + 1) {
                            animation-delay: ( $loader-loop-duration * .5 ) * .3125;
                        }
                        
                        &:nth-child(4n + 2) {
                            animation-delay: ( $loader-loop-duration * .5 ) * .75;
                        }
                        
                        &:nth-child(4n + 3) {
                            animation-delay: ( $loader-loop-duration * .5 ) *  1.125;
                        }

                    }
                }
        }


    //number loading
        .number {
            font-size: 48px;
            font-weight: 700;
            position:absolute;;
            line-height:1;
            width:3em;
            text-align: right;
            display: inline-block;
            height: 1em;
            padding-right: 1.25em;
            bottom:10vh;
            right:0;
            left:0;
            margin: auto;
            animation-name: numberEnter;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-duration: $loader-enter-duration;
            animation-timing-function: #{$loader-bezier-skrt};
            // initial before animation
            // transform: translateY(2em);

            &:before,
            &:after
            {
                position: absolute;
                left: 60%;
                // margin-left: .125em;
            }

            &:before {
                content: "%";
                top:0;
                font-size: .625em;
            }

            &:after {
                content: "Loading";
                bottom:.375em;
                font-size: .25em;
                font-weight:300;
            }
        }
}

