
// normal keyframes. shit that happens on non-svg elements
    @keyframes iconEnter {
        0% {
            left: 100%;
        }
        100% {
            left: 0%;
        }
    }
    @keyframes iconExit {
        0% {
            left: 0%;
        }
        100% {
            left: -200%;
        }
    }


    @keyframes wheelsMove {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        30% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-2px) rotate(.5deg); //front wheels
        }
        60% {
            transform: translateY(0px) rotate(0deg);
        }
        70% {
            transform: translateY(-2px) rotate(-.5deg); //back wheels
        }
        90% {
            transform: translateY(0px) rotate(0deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }


    @keyframes bodyMove {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        30% {
            transform: translate(0px, 2px) rotate(0deg);
        }
        50% {
            transform: translate(0px, 0px) rotate(1deg); //front
        }
        70% {
            transform: translate(0px, -1px) rotate(0deg);
        }
        90% {
            transform: translate(0px, 0px) rotate(-1deg); //rear
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
        }
    }
    
    @keyframes poleMove {

    }

    @keyframes glowAnimate {
        0% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -30;
            stroke-width:0;
        }
        25% {
            stroke-dasharray:100,50,0,100;
            stroke-dashoffset: -180;
            stroke-width:8;
        }
        50% {
            stroke-dasharray:50,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:1;
        }
        75% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:0;
        }
        100% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -330;
            stroke-width:0;
        }
    }



    @keyframes glowAnimateReady {
        0% {
            stroke-dasharray:50,100,5,150;
            stroke-dashoffset: 300;
            stroke-width:0;
        }
        50% {
            stroke-dasharray:100,100,5,150;
            stroke-dashoffset: 150;
            stroke-width:9;
        }
        100% {
            stroke-dasharray:50,100,5,150;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
    }



    @keyframes stripesAnimate {
        0% {
            stroke-dasharray:250,0,10,50;
            stroke-dashoffset: -300;
            stroke-width:1;
        }
        50% {
            stroke-dasharray:0,80,10,50;
            stroke-dashoffset: 0;
            stroke-width:3;
        }
        100% {
            stroke-dasharray:250,0,10,50;
            stroke-dashoffset: 300;
            stroke-width:1;
        }
    }

#loader {
    
    position: fixed;
    z-index:99999;
    top:0;
    bottom:0;
    left:auto;
    right:0;
    margin:0;
    width: 100%;
    height:100%;
    background: $color-bg;
    transition: .5s #{$bezier} right;

    & *,&:before,&:after {
        animation-timing-function: linear;
        transition-timing-function: linear;
        transition-property: all;
        animation-iteration-count: infinite;
        // animation-fill-mode: both;
    }

    &:before,&:after {

        content:"";
        position: absolute;
    }
        
    // &:before { //the blaze thing tha wheels doo
    //     top: 0;
    //     bottom: 0;
    //     left: auto;
    //     right: 0;
    //     width: 50%;
    //     background: red;
    //     height: 2px;
    //     margin: auto;
    //     margin-top: 1vw
    // }
    

    &:after { // circle edge end of animation
        top: 0;
        bottom: 0;
        background: $color-bg;
        left:100%;
        width: 50vh;
        border-radius: 0 50vh 50vh 0;
    }

    #{$docready-class} & {
        right: calc(150% + 50vh);
        // opacity: 0;
        transition-delay: $loader-exit-duration * .875;
        transition-duration: $loader-exit-duration * .125;
    }

    
    //styles

        .icon { // car svg container
            transition: .125s linear all;
            font-size: $icon-size;
            height: 1em;
            width: 1em;
            max-width: calc(100% - 40px);
            max-height: calc(100% - 40px);
            position: absolute;
            top:0;
            bottom:0;
            right:0;
            left:100%;
            margin: auto;

            // alt-circle-clip
            overflow: hidden;

            &:before { //circle glow 
                content:"";
                display: block;
                position: absolute;
                margin: auto;
                background: rgba($color-accent,.85);
                box-shadow: inset  0 0 0 0 rgba($color-accent,.2);
                border: 0 solid rgba($color-bg,.5);
                border-radius: 50%;

                //alt-circle-halo
                // left:-50%;
                // right:-40%;
                // top:-25%;
                // bottom:-25%;
                // width: 125%;
                // height: 125%;
                // padding-bottom:125%;

                // alt-circle-clip
                top:0;
                bottom:0;
                left:0;
                width: .05em;
                height: 75%;
                opacity: 0;
                transform: scale(.1);
                transform-origin: left center;



               #{$docready-class} & { // come out before nyoom
                    
                    transition-timing-function:  #{$bezier-skrt};
                    transition-duration: $loader-exit-duration * .25;
                    // box-shadow: inset  0 0 0 .025em rgba($color-bg,.2);
                    border-width: .025em .0125em;
                    opacity: 1;
                    transform: scale(1);
                }
            }


            //on Enter to the left, to the left alt-circle-clip
            animation-name: iconEnter;
            animation-duration: $loader-enter-duration;
            animation-fill-mode: both;
            animation-timing-function: #{$bezier};
            animation-iteration-count: 1;

            // on exit alt-circle-halo
            // #{$docready-class} & { //  boy bye
            //     animation-name: iconExit;
            //     animation-timing-function: #{$bezier-reverse};
            //     animation-duration:  $loader-exit-duration * .875;
            //     animation-delay: $loader-exit-duration * .375;
            //     animation-iteration-count: 1;
            // }

            svg { // for animation readiness
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        }

        .icon,
        &-icon {

            #{$docready-class} & { //  boy bye
                animation-name: iconExit;  //happens on both svg and svg wrapper to create dimension
                animation-timing-function: #{$bezier-reverse};
                animation-duration:  $loader-exit-duration * .875;
                animation-delay: $loader-exit-duration * .375;
                animation-iteration-count: 1;
            }

        }

        
        &-icon { //svg itself


            * {
                fill:none;
                stroke:$color-base;
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-miterlimit:10;
            }

            // svg styles
            .stroke-filled{
                fill: $color-bg;
            }

            .accent {
                stroke:$color-accent;
            }

            .stroke-bold{
                stroke-width:7;
            }
            .stroke-normal{
                stroke-width:5;
            }
            .stroke-light{
                stroke-width:4;
            }
            .stroke-lighter{
                stroke-width:3;
            }

            // .stroke-dashed-glow {
            //     stroke-dasharray:50,10,5,100;
            // }

            .body,.wheels { //make loop same so that the suspension syncs with the lubak the wheel makes sagi on
                animation-duration: $loader-loop-duration;

                #{$docready-class} & {
                    animation-duration: $loader-loop-duration * .5;
                }
            }

            
            .body {
                animation-name: bodyMove;
                transform-origin: 35% 65%;
            }


            .wheel { // wheelio

                &s {
                    animation-name: wheelsMove;
                    transform-origin: 34% 50%;
                }



                #{$docready-class} & { //wheels will skew like in the cartoons when it go nyoom
                    transition-duration: $loader-exit-duration * .125;
                    transition-delay: $loader-exit-duration * .375;
                    transform: skewX(10deg);
                    transform-origin: 50% 50%;
                }
            }

            .stripe,.glow {
                animation-fill-mode: both;
            }

            .stripe {

                
                animation-name: stripesAnimate;
                animation-duration: $loader-loop-duration * .5;
                // animation-delay: 0s;

                // initial
                // stroke-dasharray:0,50;
                // stroke-dashoffset: -150;
                // stroke-width:0;

                &:nth-child(3n) {
                    animation-delay: $loader-loop-duration * .5;
                }

                &:nth-child(3n + 1) {
                    animation-delay: $loader-loop-duration * .75;
                }
                
            }

            .glow {
                animation-name: glowAnimate;
                animation-iteration-count: infinite;
                animation-duration: $loader-loop-duration * .5;
                animation-delay: $loader-enter-duration;

                //initial frame of animation
                // stroke-dasharray:0,50,0,100; 
                // stroke-dashoffset: 150;
                // stroke-width:0;

                &:nth-child(4n + 1) {
                    animation-delay: $loader-enter-duration + ($loader-loop-duration * .3125);
                }
                
                &:nth-child(4n + 2) {
                    animation-delay: $loader-enter-duration + ($loader-loop-duration * .75);
                }
                
                &:nth-child(4n + 3) {
                    animation-delay: $loader-enter-duration + ($loader-loop-duration *  1.125);
                }

                #{$docready-class} & {
                    animation-delay: 0s;
                    animation-duration:   $loader-loop-duration * .5;
                    animation-name: glowAnimateReady;
                    // stroke-dasharray:50,100,5,150;
                    // stroke-width:0;



                    &:nth-child(4n + 1) {
                        animation-delay: ( $loader-loop-duration * .5 ) * .3125;
                    }
                    
                    &:nth-child(4n + 2) {
                        animation-delay: ( $loader-loop-duration * .5 ) * .75;
                    }
                    
                    &:nth-child(4n + 3) {
                        animation-delay: ( $loader-loop-duration * .5 ) *  1.125;
                    }

                }
            }
        }
}

