// loader variables 
    //colors
        $loader-color-bg: #1e3f9c; //loader bg. some svg paths need to be filled to avoid overlapping strokes :')
        $loader-color-base: #FFF; //stroke color
        $loader-color-accent: #00d0ef; //stroke accent color
        $loader-docready-class: '.loaded'; //class that is added to body or html when loader needs to die

        $loader-icon-size: 600px; //base size of the icon. 

        $loader-enter-duration: .75s; //how long it takes for entrance
        $loader-loop-duration: 1s; //how long it takes to loop animations while loading progress
        $loader-exit-duration: 2s; //how long it is to take to exit


    //breakpoints
        $loader-br-sm: 600px;
        $loader-br-md: 1200px;
        $loader-br-lg: 1800px;

    //timings
        $loader-bezier: cubic-bezier(.5, 0, 0.2, 1);
        $loader-bezier-alt: cubic-bezier(1, -1.5, 0, 1);
        $loader-bezier-reverse: cubic-bezier(1, -.5, 0, 1);
        $loader-bezier-skrt: cubic-bezier(1, 0, 0, 1.75);