//colors
$color-bg: #1e3f9c; //loader bg
$color-base: #FFF;
$color-accent: #00d0ef;
$docready-class: '.loaded';



$loader-enter-duration: .5s; //how long it takes for entrance
$loader-loop-duration: 1s; //how long it takes to loop animations while loading progress
$loader-exit-duration: 2s; //how long it is to take to exit


//breakpoints
$sm: 600px;
$md: 1200px;
$lg: 1800px;


$bezier: cubic-bezier(.5, 0, 0.2, 1);
$bezier-alt: cubic-bezier(1, -1.5, 0, 1);
$bezier-reverse: cubic-bezier(1, -.5, 0, 1);
$bezier-skrt: cubic-bezier(1, 0, 0, 1.75);