/* Resets and Other Good Shit
 --------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, picture, source, main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  overflow-x: hidden; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox 25*/ }

input,
textarea,
select,
button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border: none;
  resize: none;
  display: block;
  font-family: inherit;
  color: inherit; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none; }

.wow {
  visibility: hidden; }

.gform_hidden,
.gform_validation_container {
  display: none; }

/* emulate background cover on image tags */
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

/* Fonts
 
 extra light 200
 light 300
 regular 400
 medium 500
 semi-bold 600
 bold 700
 extra-bold 800
 black 900
 
 @font-face {
   font-family: '';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/.woff2') format('woff2');
   font-display: fallback;
 }
 
 */
/* placeholder basic content styles . DELETE when ready to put in site. if reset is already present, remove import declaration on the main style.scss*/
main {
  font-size: 17px;
  line-height: 2.118; }

h1 {
  font-size: 52px;
  line-height: 1; }

@media (max-width: 410px) {
  h1 {
    font-size: 48px; } }

@media (min-width: 751px) {
  h1 {
    font-size: 60px;
    line-height: 1.084; } }

@media (min-width: 1201px) {
  h1 {
    font-size: 92px;
    line-height: 0.968; } }

h2 {
  font-size: 30px;
  line-height: 1.434; }

h3 {
  font-size: 23px;
  line-height: 1.783; }

h4 {
  font-size: 17px;
  line-height: 2.412; }

u {
  margin-bottom: 35px; }

ul, ol {
  margin-bottom: 25px; }
  ul li, ol li {
    list-style: none;
    position: relative;
    margin-bottom: 12px; }

/* contains reset. scaffolding styles  in here are not neessary. */
/* SVG STYLES */
body {
  color: #333; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes iconEnter {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }

@keyframes iconExit {
  0% {
    left: 0%; }
  100% {
    left: -200%; } }

@keyframes wheelsMove {
  0% {
    transform: translateY(0px); }
  79% {
    transform: translateY(0px); }
  80% {
    transform: translateY(2px); }
  81% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(0px); } }

@keyframes bodyMove {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(2px, 2px); }
  40% {
    transform: translate(0px, 2px); }
  60% {
    transform: translate(-1px, 0px); }
  80% {
    transform: translate(0px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes glowAnimate {
  0% {
    stroke-dasharray: 0,50,0,100;
    stroke-dashoffset: 150;
    stroke-width: 0; }
  25% {
    stroke-dasharray: 50,50,5,100;
    stroke-dashoffset: 150;
    stroke-width: 8; }
  50% {
    stroke-dasharray: 0,50,0,100;
    stroke-dashoffset: -150;
    stroke-width: 0; }
  75% {
    stroke-dasharray: 0,50,0,100;
    stroke-dashoffset: -300;
    stroke-width: 0; }
  100% {
    stroke-dasharray: 0,50,0,100;
    stroke-dashoffset: -300;
    stroke-width: 0; } }

@keyframes glowAnimateReady {
  0% {
    stroke-dashoffset: -150; }
  50% {
    stroke-dashoffset: 150; }
  100% {
    stroke-dashoffset: -300; } }

.stroke-filled {
  fill: #1e3f9c; }

* {
  fill: none;
  stroke: #FFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }
  *, *:before, *:after {
    animation-timing-function: linear;
    transition-duration: .125s;
    transition-timing-function: linear;
    transition-property: all;
    animation-iteration-count: infinite; }

.accent {
  stroke: #00d0ef; }

.stroke-bolder {
  stroke-width: 8; }

.stroke-bold {
  stroke-width: 7; }

.stroke-normal {
  stroke-width: 5; }

.stroke-light {
  stroke-width: 4; }

.stroke-lighter {
  stroke-width: 3; }

.stroke-dashed-glow {
  stroke-dasharray: 50,10,5,100; }

.bodyMove {
  animation-name: bodyMove;
  animation-duration: .125s; }
  .loaded .bodyMove {
    -webkit-animation-duration: .025s;
    animation-duration: .025s; }

.wheelsMove {
  animation-name: wheelsMove;
  -webkit-animation-duration: .5s; }

.glowAnimate {
  animation-name: glowAnimate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 1s;
  stroke-dasharray: 0,50,0,100;
  stroke-dashoffset: 150;
  stroke-width: 0; }
  .loaded .glowAnimate {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: glowAnimateReady;
    stroke-dasharray: 12,10,5,12;
    stroke-width: 8; }

#loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #1e3f9c;
  transition: .5s linear all;
  animation-timing-function: cubic-bezier(0.5, 0, 0.2, 1); }
  #loader:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #1e3f9c;
    left: 100%;
    width: 50vh;
    border-radius: 0 50vh 50vh 0; }
  .loaded #loader {
    left: -150%;
    opacity: 0;
    transition-delay: 0.75s;
    transition-duration: 0.375s; }
  #loader .icon {
    transition: .125s linear all;
    padding: 1em;
    height: 600px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    margin: auto;
    overflow: hidden;
    animation-name: iconEnter;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    animation-iteration-count: 1; }
    #loader .icon:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -50%;
      right: -40%;
      top: 0;
      bottom: 0;
      margin: auto;
      background: rgba(0, 208, 239, 0.2);
      box-shadow: inset 0 0 0 0 rgba(30, 63, 156, 0.2);
      border-radius: 50%;
      opacity: 0;
      width: 200px;
      height: 200px; }
      .loaded #loader .icon:after {
        opacity: 1;
        width: 500px;
        animation-timing-function: 0.75s;
        transition-duration: cubic-bezier(1, -0.5, 0, 1);
        box-shadow: inset 0 0 0 50px rgba(30, 63, 156, 0.2);
        height: 500px; }
    .loaded #loader .icon {
      animation-name: iconExit;
      animation-timing-function: cubic-bezier(1, -0.5, 0, 1);
      animation-duration: 0.5625s;
      animation-delay: 1.5s; }
    #loader .icon svg {
      width: 100%;
      height: 100%; }
  .loaded #loader-icon .wheel {
    transition-duration: 0.09375s;
    transition-delay: 0.09375s;
    transform: skewX(2deg); }
