@import "scss/_vars";
@import "scss/_reset"; /* contains reset. scaffolding styles  in here are not neessary. */


/* SVG STYLES */



body {
    // background: $color-bg;
    color: #333;
}

// normal keyframes
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    @keyframes iconEnter {
        0% {
            left: 100%;
        }
        100% {
            left: 0%;
        }
    }
    @keyframes iconExit {
        0% {
            left: 0%;
        }
        100% {
            left: -200%;
        }
    }


    @keyframes wheelsMove {
        0% {
            transform: translateY(0px)  rotate(0deg);
        }
        25% {
            transform: translateY(0px)  rotate(0deg);
        }
        50% {
            transform: translateY(-2px)  rotate(-0.05deg);
        }
        75% {
            transform: translateY(0px)  rotate(0deg);
        }
        100% {
            transform: translateY(0px)  rotate(0deg);
        }
    }


    @keyframes bodyMove {
        0% {
            transform: translate(0px, 0px);
        }
        20% {
            transform: translate(0px, 1px);
        }
        40% {
            transform: translate(0px, -2px);
        }
        60% {
            transform: translate(0px, 0px);
        }
        80% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
    
    @keyframes poleMove {

    }

//svg path keyframes
// some vectors can be polylines, paths, circles and all kinds of checheboreche in the svg. to guarantee that the vector inherits the animation, add animation classes to those paths that it will affect
    @keyframes glowAnimate {
        0% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: 150;
            stroke-width:0;
        }
        25% {
            stroke-dasharray:50,50,5,100;
            stroke-dashoffset: 150;
            stroke-width:8;
        }
        50% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -150;
            stroke-width:0;
        }
        75% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
        100% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
    }

    @keyframes glowAnimateReady {
        0% {
            // stroke-dasharray:12,10,5,12;
            stroke-dashoffset: -150;
            stroke-width:1;
        }
        50% {
            // stroke-dasharray:12,10,5,12;
            stroke-dashoffset: 150;
            stroke-width:7;
        }
        100% {
            // stroke-dasharray:12,10,5,12;
            stroke-dashoffset: 300;
            stroke-width:1;
        }
    }

    @keyframes glowAnimate {
        0% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: 150;
            stroke-width:0;
        }
        25% {
            stroke-dasharray:50,50,5,100;
            stroke-dashoffset: 150;
            stroke-width:8;
        }
        50% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -150;
            stroke-width:0;
        }
        75% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
        100% {
            stroke-dasharray:0,50,0,100;
            stroke-dashoffset: -300;
            stroke-width:0;
        }
    }



    @keyframes stripesAnimate {
        0% {
            stroke-dasharray:250,0;
            stroke-dashoffset: 300;
            stroke-width:1;
        }
        50% {
            stroke-dasharray:0,250;
            stroke-dashoffset: 0;
            stroke-width:3;
        }
        100% {
            stroke-dasharray:250,0;
            stroke-dashoffset: -300;
            stroke-width:1;
        }
    }



    //keyframe classes

        .glowAnimate {
            animation-name: glowAnimate;
            animation-iteration-count: infinite;
            animation-duration: $loader-loop-duration;
            animation-delay: $loader-enter-duration;

            //initial frame of animation
            stroke-dasharray:0,50,0,100; 
            stroke-dashoffset: 150;
            stroke-width:0;

            &:nth-child(even) {

            animation-delay: $loader-enter-duration * 1.0625;
            }

            #{$docready-class} & {
                animation-delay: 0;
                animation-duration:   $loader-loop-duration * .5;
                animation-name: glowAnimateReady;
                stroke-dasharray:50,10,5,50;
                // stroke-width:8;

            }
        }

        .stripesAnimate {
            
            animation-name: stripesAnimate;
            animation-duration: $loader-loop-duration;

            //initial
            stroke-dasharray:0,50;
            stroke-dashoffset: 150;
            stroke-width:0;

            &:nth-child(3n) {
                animation-delay: $loader-loop-duration * .5;
            }

            &:nth-child(3n + 1) {
                animation-delay: $loader-loop-duration * .75;
            }
        }


//global svg styles

    .stroke-filled{
        fill: $color-bg;
    }

    * {
        fill:none;
        stroke:$color-base;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;

        &,&:before,&:after {
            animation-timing-function: linear;
            transition-duration: .125s;
            transition-timing-function: linear;
            transition-property: all;
            animation-iteration-count: infinite;
        }
    }

    .accent {
        stroke:$color-accent;
    }

    .stroke-bold{
        stroke-width:7;
    }
    .stroke-normal{
        stroke-width:5;
    }
    .stroke-light{
        stroke-width:4;
    }
    .stroke-lighter{
        stroke-width:3;
    }

    // .stroke-dashed-glow {
    //     stroke-dasharray:50,10,5,100;
    // }


#loader {
    position: fixed;
    z-index:99999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    width: 100%;
    height:100%;
    background: $color-bg;
    transition: .5s linear all;
    animation-timing-function: #{$bezier};

    &:before,&:after {

        content:"";
        position: absolute;
    }

        
    // &:before { //the blaze thing tha wheels doo
    //     top: 0;
    //     bottom: 0;
    //     left: auto;
    //     right: 0;
    //     width: 50%;
    //     background: red;
    //     height: 2px;
    //     margin: auto;
    //     margin-top: 1vw
    // }
    

    &:after { // circle edge end of animation
        top: 0;
        bottom: 0;
        background: $color-bg;
        left:100%;
        width: 50vh;
        border-radius: 0 50vh 50vh 0;
    }

    #{$docready-class} & {
        left: -150%;
        // opacity: 0;
        transition-delay: $loader-exit-duration * .5;
        transition-duration: $loader-exit-duration * .5;
    }

    
    //styles

        .icon { // car svg container
            transition: .125s linear all;
            padding: 1em;
            // font-size: 550px;
            height: 600px;
            width: 600px;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top:0;
            bottom:0;
            right:0;
            left:100%;
            margin: auto;
            overflow: hidden;

            &:after { //circle glow 
                content:"";
                display: block;
                position: absolute;
                top: 50%;
                left:-50%;
                right:-40%;
                top:0;
                bottom:0;
                margin: auto;
                background: rgba($color-accent,.2);
                box-shadow: inset  0 0 0 0 rgba($color-bg,.2);
                border-radius: 50%;
                opacity: 0;
                width: 200px;
                height: 200px;



               #{$docready-class} & { // come out before nyoom
                    opacity: 1;
                    width: 500px;
                    animation-timing-function:  #{$bezier-reverse};
                    transition-duration: $loader-exit-duration * .375;
                    box-shadow: inset  0 0 0 50px rgba($color-bg,.2);
                    height: 500px;
                }
            }


            //on Enter to the left, to the left
            animation-name: iconEnter;
            animation-duration: $loader-enter-duration;
            animation-fill-mode: both;
            animation-timing-function: #{$bezier};
            animation-iteration-count: 1;

            // on exit 
            #{$docready-class} & { //  boy bye
                animation-name: iconExit;
                animation-timing-function: #{$bezier-reverse};
                animation-duration:  $loader-exit-duration * .375;
                animation-delay: $loader-exit-duration;
            }

            svg {
                width:100%;
                height:100%;
            }
        }

        
        &-icon { //svg itself
            .body {

                animation-name: bodyMove;
                animation-duration: $loader-loop-duration * .5;

                // #{$docready-class} & {
                //     animation-duration: $loader-loop-duration * .025;

                // }
            }


            .wheel { // wheelio
                animation-name: wheelsMove;
                animation-duration: $loader-loop-duration * .125;

                #{$docready-class} & { //wheels will skew like in the cartoons when it go nyoom
                    transition-duration: $loader-exit-duration * .5;
                    transition-delay: $loader-exit-duration * .25;
                    transform: skewX(4deg);
                }
            }

            // .stripes {
                
            // }
        }
}

